@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Varela+Round:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("../../assets/fonts/Arial Rounded MT Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
