@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin skill {
  margin: 0.2rem ;
  padding: 0.2rem 0.5rem;
  background-color: $color-pale;
  border-radius: 3px;
  width: auto;
  display: inline;
}

@mixin border {
  border-top: 1px solid $color-pale;
  border-bottom: 1px solid $color-pale;
}

@mixin padding {
  padding: 1rem;

  @include tablet {
    padding: 1rem 1.5rem;
  }

  @include desktop {
    padding: 1.125rem 2rem;
  }
}

@mixin padding-sides {
  padding: 0 1rem;

  @include tablet {
    padding: 0 1.5rem;
  }

  @include desktop {
    padding: 0 2.5rem;
  }
}
