/* --breakpoints-- */
$mobile-min-breakpoint: 20rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
/* --Primary Colors-- */
$color-black: #282829;
$color-purple-royal: #733D99;
$color-white-whisper: #FCFAFC;
/* --Secundary Colors-- */
$color-pale: #e6e5e7;
$color-quartz: #D7B9EC;