/* --breakpoints-- */
$mobile-min-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
/* --Primary Colors-- */
$color-black: #282829;
$color-purple-royal: #733D99;
// $color-white-whisper: #d4cad4;
$color-white-whisper: #FCFAFC;
/* --Secundary Colors-- */
$color-pale: #e6e5e7;
$color-quartz: #D7B9EC;
// $color-candy: #dc8282;