@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.hero {
  position: relative;
  width: 100%;

  &__bg {
    z-index: 0;
    width: 100%;
    min-height: 14rem;
    max-height: 35vh;
    opacity: 25%;
    object-fit: cover;

    @include tablet {
      max-height: 40vh;
    }
  }

  &__joke {
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 25%;
    @include padding;

    &--set-up {
      color: $color-purple-royal;
    }

    &--punch-line {
      padding-top: 0.5rem;
      margin-bottom: 2rem;
    }

    &--button {
      padding: 0;
      border: 0;
      background-color: $color-white-whisper;
    }

    &--icon {
      border: 1px solid $color-pale;
      padding: 0.2rem;

      &:hover {
        fill: $color-white-whisper;
      }
    }
  }
}
