@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.case {
  &__title {
    &--name02 {
      font-family: "Bebas Neue", sans-serif;
      font-weight: 500;
      font-size: 2.25rem;
      margin: 1rem;
    }
  }
}
