@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.photo {
  margin: auto;
  display: grid;
  background-color: rgba($color-black, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;

  &__img {
    width: 100%;
    margin: auto;

    @include desktop {
      height: calc(100vh - 6.5rem);
      width: auto;
    }
  }

  &__tittle {
    padding: 0.5rem;
    text-align: center;
    display: inline;
    background-color: rgba($color-quartz, 0.5);
    margin: 0;
    width: 100%;
  }
  &__text {
    display: inline;
    text-align: center;
  }
  &__header {
    display: flex;
    flex-direction: column;
    background-color: rgba($color-quartz, 0.5);
    position: fixed;
    right: 0;
    top: 4rem;
    bottom: 0;
    max-width: 10%;
  }
}
.button__close {
  background-color: rgba($color-quartz, 0.5);
  position: absolute;
  right: 0;
  color: $color-white-whisper;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 2rem;

  @include tablet {
    font-size: 3rem;
  }
}
