@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.photo {
  margin: auto;
  display: grid;
background-color: rgba($color-black, 0.5);


  &__img {
    width: 100%;
  margin: auto;

    @include desktop {
      height: calc(100vh - 6rem);
      width: auto;
    }
  }

  &__tittle {
    justify-self: center;
    margin: 0.3rem 0;

    &--description {
      display: block;
      text-align: center;
    }
  }
}
