@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.case {
  width: 100%;
  @include padding;

  @include desktop {
    width: $desktop-breakpoint;
    padding: 0;
  }

  &__title {
    padding: 2rem;
    border: 1px solid $color-pale;
    margin: 2rem;
    justify-items: center;

    &--name {
      font-family: "Courier Prime", monospace;
      font-weight: 700;
      font-style: normal;
      font-size: 2rem;
      line-height: 1.8rem;
    }

    &--skills {
      @include skill;
    }
  }

  &__box {
    padding: 2rem;
    border-bottom: 2px solid $color-pale;
  }

  &__multimedia {
    display: flex;
    justify-content: center;
    background-color: #f2d5e5;

    &--img {

    }
  }
}

