@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/globals.scss" as *;

.header {
  justify-content: space-between;
  flex-direction: column;
  @include border;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__toggle {
    background-color: transparent;
    border: none;

    @include tablet {
      display: none;
    }
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  text-align: center;

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &--icon {
      height: 2.5rem;
      margin: 0.5rem;

      @include tablet {
        margin: 0.5rem 1.2rem;
      }
    }
  }
}

.nav {
  background-color: $color-pale;
  margin: 0;
  padding: 0;

  @include tablet {
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  &__button {
    list-style-type: none;

    &--link {
      text-decoration: none;
      display: flex;
      @include padding;

      @include tablet {
      }
    }

    &--icon {
      background-color: $color-white-whisper;
      fill: $color-purple-royal;
      border-radius: 4px;
    }
  }
}

.aside--hide {
  display: none;

  @include tablet {
    display: flex;
  }
}
