@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.footer {
  background-color: $color-pale;
  margin-top: 2rem;
  padding: 1.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__txt {
    font-size: 10px;

    @include tablet {
      font-size: 11px;
    }
  }
}
